body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  margin-top:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

input{
  margin-bottom:4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vmax;
  height: 2.5vmax;
}

.button{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn1{
  border-radius: 5px;
  color: black;
  padding: 8px;
  margin: 2px;
  background-color:whitesmoke;
}
.btn2{
  border-radius: 5px;
  padding: 8px;
  margin: 2px;
  background-color:whitesmoke;
}


.lang{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}